.profile-container {
    margin-left: 15%;
  }
  
  .bio-container {
    padding: 10px;
    border-radius: 5px;
    display: inline-block; 
    width: 100%; 
    border:none;
  }
  
  .bio-info {
    font-size: 14px;
    line-height: 20px;
    color: #BCA5A5;
    margin: 0; 
  }
  
  .col-11.col-sm-11.col-md-11.col-lg-11.profile-container{
    margin-left: 5%;
  }